modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0", "python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Shivakalabs Server"

[[workflows.workflow]]
name = "Shivakalabs Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39157
externalPort = 3000

[userenv]

[userenv.shared]
PAYSTACK_SECRET_KEY = "238b292d4da31544"
PAYSTACK_PUBLIC_KEY = "pk_test_35cd142d3174518a92af53c22e98d20b297c4aca"
